<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Prism</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body class="hero-page-4">

    
    <div class="container text-center h-100">
        <div class="row h-100">
            <div class="col-12 py-80 d-flex justify-content-center">
                <div class="w-100 px-100 hero-main">
                    <h5 class="text-secondary text-uppercase f-size-14 mb-0 letter-spac-1">become a legendary designer
                    </h5>
                    <h1 class="f-size-50 mb-3">A headline to make an impact on visitors</h1>
                    <p class="f-size-18 hero-para mb-4">A subheading that addresses the what, the why we should care and
                        hopefully some social proof.</p>
                    <button type="button" class="btn btn-primary py-2 px-4 mt-2">Get started</button>
                </div>
            </div>
            <div class="col-12 position-relative page-3-sec-2" style="overflow: hidden;">
              <img src="../img/Content.png" alt="#" class="w-100 gradient-img">
            </div>
        </div>
    </div>


    <!-- Bootstrap Js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- Javascipt -->
    <script src="js/script.js"></script>
</body>

</html>